<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Edit</th>
        </tr>
        <% for(let user of users) { %>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.username%></td>
                <td><%=user.email%></td>
                <td>
                    <form action="/users/<%= user.id%>/edit" method="GET">
                        <button>Edit</button>
                    </form>
                </td>
            </tr>
        <%  } %>
    </table>
</body>
</html>

